.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding-block: 3rem;
}

.bannerDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bannerDiv div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 95%;
}

.vagasRestantes {
    position: relative;
    z-index: 20;
    font-weight: bold;
    margin-top: 12px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    max-width: 680px;
}

.divGroup {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    width: 100%;
    max-width: 680px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    padding: 1rem;
    width: 90%;
}

label {
    font-weight: 600;
    font-size: 1.3rem;
}

input {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid #afafaf;

    width: 100%;
    max-width: 680px;
}

input:focus {
    outline: 1px solid #1d6ab2;
    border: 2px solid #1d6ab2;
}

input::placeholder {
    color: #a5a5a5;
}

span {
    color: #1d6ab2;
}

button {
    width: 80%;

    font-weight: bold;
    color: white;
    background-color: #1d6ab2;
    border: none;
    border-radius: 16px;
    padding: 1rem;
    font-size: 1.625rem;
    border-bottom: 5px solid #0057a8;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #2381da;
}
